.apresentacao{
    padding: 35px 20px 0 158px;
}

.mensagem{
    padding: 20px 150px 70px 0;
}

.inputs h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    padding: 0 0 0 166px;
}

.inputs form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 158px;
}

.inputs .registration-data input{
    width: 406px;
    height: 62px;
    border-radius: 30px;
    border: solid 2px #f5f5f5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-image: linear-gradient(180deg, #2E2F36 0%, #17181C 100%);
}

input[type="date"]::-webkit-calendar-picker-indicator{ 
    opacity: 0; 
}

.inputs .registration-data button{
    width: 406px;
    height: 62px;
    border-radius: 30px;
    border: solid 1px #fe2e05;
    background-image: linear-gradient(180deg, #ad2d14 0%, #f42e07 100%);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
}

.inputs .registration-data button:hover{
    opacity: 0.8;
}

.inputs .registration-data .name .user-name{
    padding-left: 20px;
}

.inputs .registration-data .name .user-name::placeholder{
    color: #f5f5f5;
}

.inputs .registration-data .name .user-img{
    margin: 50px 0 -7px -50px;
}

.inputs .registration-data .user .string-user{
    padding-left: 20px;
}

.inputs .registration-data .user .string-user::placeholder{
    color: #f5f5f5;
}

.inputs .registration-data .user .user-name-img{
    margin: 50px 0 -7px -50px;
}

.inputs .registration-data .birth .birth-date{
    padding-left: 20px;
}

.inputs .registration-data .birth .birth-date::placeholder{
    color: #f5f5f5;
}

.inputs .registration-data .birth .img-birth{
    margin: 50px 0 -7px -50px;
}

.inputs .registration-data .mail .e-mail{
    padding-left: 20px;
}

.inputs .registration-data .mail .e-mail::placeholder{
    color: #f5f5f5;
}

.inputs .registration-data .mail .img-mail{
    margin: 50px 0 -7px -50px;
}

.inputs .registration-data .pass .password{
    padding-left: 20px;
}

.inputs .registration-data .pass .password::placeholder{
    color: #f5f5f5;
}

.inputs .registration-data .pass .pass-img{
    margin: 50px 0 -7px -50px;
}

.inputs .registration-data .confirm-pass .confirm{
    padding-left: 20px;
}

.inputs .registration-data .confirm-pass .confirm::placeholder{
    color: #f5f5f5;
}

.inputs .registration-data .confirm-pass .confirm-pass-img{
    margin: 50px 0 -7px -50px;
}

.inputs .registration-data small{
    color: #E9B425;
    padding-left: 90px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.inputs .registration-data input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #2E2F36 inset;
    -webkit-text-fill-color: #f5f5f5 !important;
}

a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

form p{
    padding: 15px 0 10px 70px;
}

.hidden{
    display: none;
}

.image{
    width: 50%;
    height: 100vh;
}

